<section class=""
         data-section-id="{{ section.id }}"
         data-section-type="brands-banner"
         style="background-color: {{ section.settings.background }}; border-bottom: 1px solid {{ section.settings.border }};">
  <div class="container tw-overflow-hidden tw-scrollbar-none tw-group">
    <div id="logo-carousel-{{ section.id }}"
         class="tw-hidden md:tw-flex tw-relative tw-whitespace-nowrap tw-animate-carousel tw-pause group-hfa:tw-pause"
         style="height: {{ section.settings.height }}px">
      <div style="height: {{ section.settings.height }}px"
           id="logo-carousel-{{ section.id }}-spacer"
           class="tw-py-3 tw-h-full tw-w-full tw-absolute tw-flex tw-w-[10000px] tw-max-w-max">
        {%- for block in section.blocks -%}
          {%- if block.settings.image -%}
            <a href="{{ block.settings.link | default: "#" }}" class="tw-inline-block tw-h-full" {{ block.shopify_attributes }}>
              <img class="tw-inline-block tw-max-h-full tw-transition-all h:tw-grayscale-0 tw-grayscale tw-opacity-40 h:tw-opacity-100 "
                   style="margin-right: {{ section.settings.spacing }}px"
                   src="{{ block.settings.image | img_url: '280x' }}"
                   alt="{{ block.settings.image.alt | escape }}" />
            </a>
          {% endif %}
        {%- endfor -%}
      </div>
      <div style="height: {{ section.settings.height }}px"
           class="tw-py-3 tw-h-full tw-w-full tw-absolute tw-flex tw-w-[10000px] tw-max-w-max tw-translate-x-full">
        {%- for block in section.blocks -%}
          {%- if block.settings.image -%}
            <a href="{{ block.settings.link | default: "#" }}" class="tw-inline-block tw-h-full" {{ block.shopify_attributes }}>
              <img class="tw-inline-block tw-max-h-full tw-transition-all h:tw-grayscale-0 tw-grayscale tw-opacity-40 h:tw-opacity-100 "
                   style="margin-right: {{ section.settings.spacing }}px"
                   src="{{ block.settings.image | img_url: '280x' }}"
                   alt="{{ block.settings.image.alt | escape }}" />
            </a>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
    <div class="md:tw-hidden tw-overflow-y-hidden overflow-x-scroll tw-scrollbar-none tw-whitespace-nowrap ">
      <div style="height: {{ section.settings.height }}px"
           class="tw-py-3 tw-whitespace-nowrap tw-scrollbar-none tw-inline-block">
        {%- for block in section.blocks -%}
          {%- if block.settings.image -%}
            <a href="{{ block.settings.link | default: "#" }}" class="" {{ block.shopify_attributes }}>
              <img class="tw-inline-block tw-max-h-full tw-transition-all h:tw-grayscale-0 tw-grayscale tw-opacity-40 h:tw-opacity-100 "
                   style="margin-right: {{ section.settings.spacing }}px"
                   src="{{ block.settings.image | img_url: '280x' }}"
                   alt="{{ block.settings.image.alt | escape }}" />
            </a>
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const banner = document.getElementById(`logo-carousel-{{ section.id }}`)
      const spacer = document.getElementById(`logo-carousel-{{ section.id }}-spacer`)
      banner.style.width = spacer.clientWidth + "px"
      banner.classList.remove('tw-pause')
    })
  </script>
</section>


<script type="application/json">
{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "text",
      "id": "link_title",
      "label": "Link title"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "border",
      "label": "Border Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "spacing",
      "label": "Spacing between Logos",
      "default": 12 ,
      "min": 2,
      "max": 80,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "height",
      "label": "Banner Height",
      "default": 70 ,
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "250 x 80px .jpg recommended"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Brands Banner",
      "settings": {},
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}




</script>
